.scsimplex_li { margin-left:8px; margin-right:8px; border:0.1px dotted navy; width:auto; }

.scsimplex_container { width:auto; margin: 2px 20px 2px 10px; }
.scsimplex_main_div {
	width : 800px;
	text-align:left;
	border:0.5px dotted #209fcc;
	margin:auto;
	background-color: white;
	min-width: 800px;	
}
.scsimplex_add_div {
	width: 780px; 
	border:0.5px dotted #209fcc;
	margin:auto;
	background-color: white;
	min-width: 750px;
}	
.scsimplex_div_cont { width:95%; margin:0px auto 0px auto; text-align:center; border:0.2px dotted navy; }
.scsimplex_row { width:100%; }
.scsimplex_row_id { width:3%; text-align:center; border:0.1px dotted navy; } 
.scsimplex_row_name { width: 30%; text-align:center; border:0.1px dotted navy; }
.scsimplex_row_note { width: 67%; border:0.1px dotted navy; }
.scsimplex_field { border-radius: 4px; border: 2px solid navy; }
.scsimplex_announce { text-align:center; padding: 2px 10px 2px 10px; width:65%; padding: 2px 10px 2px 10px; margin:auto; background-color:white; }
.scsimplex_delete { text-align:center; padding: 2px 10px 2px 10px; width:65%; padding: 2px 10px 2px 10px; margin:auto; color: red; background-color:white; border:0.5px dotted orange; }
.scsimplex_alert { color: red; border:0.5px dotted orange; width:auto; }
.scsimplex_commok { color: green; border:0.5px dotted green; width:auto; }
.scsimplex_pager { display:inline; margin: 0px 20px 0px 20px; }
.scsimplex_foot { border:1px dotted navy; width:65%; margin:auto; background-color: white; text-align:center; }
